# Dataset — ne pas versionner (critère éliminatoire)
data/
!data/.gitkeep

# Modèles entraînés
models/
!models/.gitkeep

# Environnement Python
.venv/
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# uv
.uv/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
